*{
    padding: 0%;
    margin: 0%;
}
.A{
    border-radius: 15px;
    text-align: center;
    position: fixed;
    background-color: rgb(6, 87, 25);
}
header{
     border: 2px solid rgb(30, 136, 86);
    margin: auto;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
   border-radius: 4px;
}
.calci{
    width: 550px;
    padding-top: 100px;
    padding-bottom: 100px;
    position:absolute;
    top:2%;
    left:70%;
transform: translate(-100%,-50%);
    transition: .25px;
    text-align: center center;
}
#display{
    color: black;
    font-size:45px;
    font-weight: 2px;
    width: 320px;
    height: 65px;
    border: 1px solid purple;
    border-radius: 20px;
    padding-right:1px ;
    padding-left: 1px;

}
.btndesign{
    width: 70px;
    height: 50px;
    border: none;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 400;
    border-radius:25px;
    margin: 2px;
    cursor: pointer;

}
.opratoredesign{
    width: 75px;
    height: 50px;
    border: none;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 400;
    border-radius:25px;
    margin:2px;
    cursor: pointer;
    color: black;
}    

.btndesign:hover{

    background-color:  rgb(151, 164, 239);

}
.opratoredesign:hover{
background-color: rgb(151, 164, 239);
}
#zero{
    width:150px;
    height: 60px;
    border: none;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 300;
    border-radius:25px;
    cursor: pointer;
    color: black;
}   
#zero:hover{
    background-color: rgb(151, 164, 239);
}